@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --main-bg-color: #e9e9e9;
    --primary-text-color: #424242;
    --accent-color: #ff3f3c;
}

body {
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    margin-bottom: 100px;
}

header h1 {
    margin: 0;
    font-weight: bold;
}

main {
    background: url(polaroid.png) no-repeat center 100px;
    margin: 0 auto;
    width: 1000px;
    align-items: center;
}

main h3 {
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    margin: 0 30px;
}

.hero {
    text-align: center;
    min-height: 800px;
}

.hero h2 {
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}

.details {
    width: 75%;
    margin: 0 auto;
}

.info {
    padding: 15px 40px 40px 40px;
    font-size: 1.2em;
    line-height: 1.5em;
}
.details ul {
    padding: 0;
    margin: 40px;
}

.details ul li {
    list-style-type: none;
    margin: 20px 0;
    padding: 0 0 0 35px;
}

.details ul li.wifi {
    background: url('wifi-solid.svg') no-repeat center left;
}

.details ul li.cloud {
    background: url('cloud-solid.svg') no-repeat center left;
}

.details ul li.qr {
    background: url('qrcode-solid.svg') no-repeat center left;
}

.details ul li.share {
    background: url('share-solid.svg') no-repeat center left;
}

.cta {
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.cta form {
    background: #D6D7D6;
    padding: 20px;
    margin: 20px auto;
    width: 600px;
    display: flex;
    border-radius: 20px;
}

.cta form input[type="text"] {
    font-size: 1em;
    padding: 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 100%;
}

.cta form input[type="button"] {
    background: var(--accent-color);
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}